### 전처리

In [47]:
import pymongo as mg
import pandas as pd

In [48]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [49]:
database = client['db_NHIS']
collection = database['merged_collection6']

In [50]:
cursor = collection.find({})
list_BND_M20 = list(cursor)

In [51]:
df_BND_M20 = pd.DataFrame(list_BND_M20)
df_BND_M20[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c14fe04b422536ad2520,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [52]:
df_BND_M20['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [53]:
len('F_'), len('J209'), 'J209'[:3], str('T18')[:3]

(2, 4, 'J20', 'T18')

In [54]:
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3:
        return None
    else :
        return sick_sym[:3]

In [55]:
convertSICK_SYM('J209'), convertSICK_SYM('F_')

('J20', None)

In [56]:
df_BND_M20['SICK_SYM1_3'] = df_BND_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [57]:
df_BND_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [58]:
df_BND_M20_dropna = df_BND_M20.dropna()
df_BND_M20_dropna.isnull().sum()

_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
SICK_SYM1_3           0
dtype: int64

In [59]:
df_BND_M20_dropna[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,1,3,5.0,0.15,10590,3000,7590,2002,L02
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,1,3,5.0,0.15,12920,3000,9920,2002,K29

In [60]:
target_list = df_BND_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [61]:
target_list.index('L02'), target_list.index('J03'),

(83, 6)

In [62]:
def applyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [63]:
df_BND_M20_dropna.loc['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)
df_BND_M20_dropna[:2]

C:\Users\04-17\AppData\Local\Temp\ipykernel_17572\955732597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna.loc['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3
0,64e6c14fe04b422536ad251f,294364.0,1921LE,200707.0,T08-T14,W00-W19,2.002080e+12,26452.0,20020830.0,3.0,...,1.0,1.0,3.0,5.0,0.15,10590.0,3000.0,7590.0,2002.0,L02
3,64e6c14fe04b422536ad2522,294364.0,1921LE,200707.0,T08-T14,W00-W19,2.002020e+12,23506.0,20020208.0,3.0,...,1.0,1.0,3.0,5.0,0.15,12920.0,3000.0,9920.0,2002.0,K29

### 정형화

In [64]:
df_BND_M20_dropna.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'COD2', 'RN_KEY',
       'RN_INST', 'MDCARE_STRT_DT', 'FORM_CD', 'MCARE_SUBJ_CD', 'SICK_SYM1',
       'OFIJ_TYPE', 'OPRTN_YN', 'MDCARE_DD_CNT', 'VSHSP_DD_CNT',
       'TOT_PRSC_DD_CNT', 'MCARE_RSLT_TYPE', 'EDC_ADD_RT', 'ED_RC_TOT_AMT',
       'EDC_SBA', 'EDC_INSUR_BRDN_AMT', 'STD_YYYY', 'SICK_SYM1_3'],
      dtype='object')

In [67]:
target = df_BND_M20_dropna.loc['SICK_SYM1_3_target']
features = df_BND_M20_dropna[['EDC_ADD_RT', 'ED_RC_TOT_AMT',]]
target.shape, features.shape

((24,), (830, 2))

In [68]:
from sklearn.model_selection import train_test_split
features_train, features_test, target_train, target_test = train_test_split(features, target, random_state=111)
features_train.shape, target_train.shape, features_test.shape, target_test.shape

ValueError: Found input variables with inconsistent numbers of samples: [830, 24]

#### 모델학습

In [ ]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [ ]:
model = DecisionTreeClassifier()

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
hyper_params = {'min_samples_leaf' : range(2,5)
               , 'max_depth' : range(2,5)
               , 'min_samples_split' : range(2,5)}

##### 평가 score : 분류-정확도, 예측-R squre

In [ ]:
from sklearn.metrics import make_scorer, f1_score

In [ ]:
scoring_method = make_scorer(f1_score)

In [76]:
grid_search = GridSearchCV(model, param_grid=hyper_params, cv=2
                           , verbose=1, scoring=scoring)

NameError: name 'GridSearchCV' is not defined

In [ ]:
# grid_search.fit(features_train, target_train)
grid_search.fit(features, target)

In [69]:
grid_search.best_estimator_

NameError: name 'grid_search' is not defined

In [70]:
grid_search.best_score_, grid_search.best_params_

NameError: name 'grid_search' is not defined

In [71]:
best_model = grid_search.best_estimator_
best_model

NameError: name 'grid_search' is not defined

In [72]:
target_test_predict = best_model.predict(features_test)
target_test_predict

NameError: name 'best_model' is not defined

In [73]:
from sklearn.metrics import classification_report

In [74]:
print(classification_report(target_test, target_test_predict))

NameError: name 'target_test' is not defined