### 전처리

In [130]:
import pymongo as mg
import pandas as pd

In [131]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [132]:
database = client['db_NHIS']
collection = database['merged_collection6']

In [133]:
cursor = collection.find({})
list_BND_M20 = list(cursor)

In [134]:
df_BND_M20 = pd.DataFrame(list_BND_M20)
df_BND_M20[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c14fe04b422536ad2520,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [135]:
df_BND_M20['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [136]:
len('F_'), len('J209'), 'J209'[:3], str('T18')[:3]

(2, 4, 'J20', 'T18')

In [137]:
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3:
        return None
    else :
        return sick_sym[:3]

In [138]:
convertSICK_SYM('J209'), convertSICK_SYM('F_')

('J20', None)

In [139]:
df_BND_M20['SICK_SYM1_3'] = df_BND_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [140]:
df_BND_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [141]:
df_BND_M20_dropna = df_BND_M20.dropna()
df_BND_M20_dropna.isnull().sum()

_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
SICK_SYM1_3           0
dtype: int64

In [142]:
df_BND_M20_dropna[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,1,3,5.0,0.15,10590,3000,7590,2002,L02
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,1,3,5.0,0.15,12920,3000,9920,2002,K29

In [143]:
target_list = df_BND_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [144]:
target_list.index('L02'), target_list.index('J03'),

(83, 6)

In [145]:
def applyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [146]:
df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)
df_BND_M20_dropna[:2]

C:\Users\04-17\AppData\Local\Temp\ipykernel_17008\836018491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3,SICK_SYM1_3_target
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,3,5.0,0.15,10590,3000,7590,2002,L02,83
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,3,5.0,0.15,12920,3000,9920,2002,K29,8

In [147]:
df_BND_M20_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 829 entries, 0 to 30084
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 829 non-null    object
 1   RN_INDI             829 non-null    int64
 2   BTH_YYYY            829 non-null    object
 3   DTH_YYYYMM          829 non-null    float64
 4   COD1                829 non-null    object
 5   COD2                829 non-null    object
 6   RN_KEY              829 non-null    int64
 7   RN_INST             829 non-null    int64
 8   MDCARE_STRT_DT      829 non-null    int64
 9   FORM_CD             829 non-null    int64
 10  MCARE_SUBJ_CD       829 non-null    int64
 11  SICK_SYM1           829 non-null    object
 12  OFIJ_TYPE           829 non-null    object
 13  OPRTN_YN            829 non-null    int64
 14  MDCARE_DD_CNT       829 non-null    int64
 15  VSHSP_DD_CNT        829 non-null    int64
 16  TOT_PRSC_DD_CNT     829 non-null    int64
 17  MCARE_RSLT_TYPE     829 non-null    float64
 18  EDC_ADD_RT          829 non-null    float64
 19  ED_RC_TOT_AMT       829 non-null    int64
 20  EDC_SBA             829 non-null    int64
 21  EDC_INSUR_BRDN_AMT  829 non-null    int64
 22  STD_YYYY            829 non-null    int64
 23  SICK_SYM1_3         829 non-null    object
 24  SICK_SYM1_3_target  829 non-null    int64
dtypes: float64(3), int64(15), object(7)
memory usage: 168.4+ KB

#### 목표변수와 설명변수 설정
- 목표변수: OPRTN_YN: 수술여부
- 설명변수: 
    - ED_RC_TOT_AMT: 심결요양급여비용총액
    - EDC_SBA: 심결본인부담금
    - EDC_INSUR_BRDN_AMT: 심결보험자부담금
    - MDCARE_DD_CNT: 요양일수
    - TOT_PRSC_DD_CNT: 총처방일수

#### 정형화 단계

In [148]:
from sklearn.model_selection import train_test_split
target = df_BND_M20_dropna['OPRTN_YN']
features = df_BND_M20_dropna[['ED_RC_TOT_AMT', 'EDC_SBA', 'EDC_INSUR_BRDN_AMT', 'MDCARE_DD_CNT', 'TOT_PRSC_DD_CNT']]

In [149]:
features_train, features_test, target_train, target_test = train_test_split(features, target, random_state=111)
features_train.shape, target_train.shape, features_test.shape, target_test.shape

((621, 5), (621,), (208, 5), (208,))

#### 모델학습

In [150]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(features_train, target_train)

LogisticRegression()

In [151]:
model.coef_, model.intercept_

(array([[-2.79182341e-06, -1.01975759e-05,  7.40575270e-06,
         -9.97989756e-02, -1.18674728e+00]]),
 array([-0.07925429]))

#### 평가 1

In [152]:
target_train_predict = model.predict(features_train)
target_train_predict.shape

(621,)

In [153]:
from sklearn.metrics import classification_report

In [154]:
print(classification_report(target_train, target_train_predict))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       604
           9       0.50      0.12      0.19        17

    accuracy                           0.97       621
   macro avg       0.74      0.56      0.59       621
weighted avg       0.96      0.97      0.96       621

#### 평가 1 결론
- 수술을 받지 않은 환자들을 예측하는 데에는 높은 정확성을 보이나(high precision, high recall, and high F1-score) 수술을 받은 환자들을 예측하는 데에는 매우 낮은 정확성을 보임(low precision, low recall, and low F1-score)
- 따라서 상대적으로 높게 보이는 정확성은 majority class에(수술을 받지 않은 환자들) 대한 편향성으로 인해 왜곡되었을 가능성이 높음
- 위 5 개의 설명변수를 토대로 수술 여부를 예측하는 데에는 어려움이 있을 것으로 판단